<table border=5>
	<tr>
		<th>文件</th>
		<th>大小</th>
		<th>上传时间</th>
	</tr>
	#foreach( $file in $files)
		<tr>
			<td>$file.ccnName</td>
			<td>$tool.size($file.size)</td>
			<td>$date.format('yyyy-M-d H:m:s',$file.time)</td>
		</tr>
	#end
</table>